
GameCenterApp/Temp/UnityLockfile

GameCenterApp/Assembly-UnityScript.unityproj

GameCenterApp/Assembly-UnityScript-vs.unityproj

GameCenterApp/Assembly-CSharp.csproj

*.csproj

GameCenterApp/Temp

GameCenterApp/Temp/*

GameCenterApp/Library

GameCenterApp/Library/*